
<table class="reportTable">
        <thead class="reportHead">
            <tr  >
                <th class="td-report" colspan="3" > Registration detail</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Registration Amount:
                </td>
                <td>
                    ₹ @LrrState.AuctionDetails.FmtWhiteValue
                </td>
                <td class="td-notes" >@($"(purchase value ${LrrState.InputData.PurchaseValue} ) * (white black ratio ${LrrState.InputData.WhiteBlackRatio} )/ 100.0")</td>
            </tr>
            <tr class="tr-alice">
                <td>
                    Cash Payment (Black):
                </td>
                <td>
                    ₹ @LrrState.AuctionDetails.FmtBlackValue
                </td>
                <td class="td-notes" >@($"(purchase value ${LrrState.InputData.PurchaseValue} ) * (100.0 - white black ratio ${LrrState.InputData.WhiteBlackRatio} / 100.0 )")</td>
            </tr>
        </tbody>
</table>
<br />
<table class="reportTable">
        <thead class="reportHead">
            <tr  >
                <th class="td-report" colspan="3" > Auction detail</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Auction End Date:
                </td>
                <td>
                    @LrrState.AuctionDetails.EndDate.ToString("dd/MMM/yyyy")
                </td>
                <td class="td-notes" >@($"Registration date + (auction duration {LrrState.Configuration.AuctionDuration} months) ")</td>
            </tr>
            <tr class="tr-alice">
                <td>
                    Auction starting value:
                </td>
                <td>
                    ₹ @LrrState.AuctionDetails.FmtStartingValue
                </td>
                <td class="td-notes" >@($"(purchase value ${LrrState.InputData.PurchaseValue} ) * (Auction starting value multiple ${LrrState.GetStartingValueMultiple()})")</td>
            </tr>

            <tr>
                <td>
                    Auction step value:
                </td>
                <td>
                    ₹ @LrrState.AuctionDetails.FmtStepValue
                </td>
<!--                <td class="td-notes" >@($"(purchase value ${LrrState.InputData.PurchaseValue} ) * (Auction step value multiple ${LrrState.Configuration.StepValueMultiple})")</td>-->
            </tr>
        </tbody>
</table>


<!--
<div class="form-field">
    <label>HighestBid Value Index:</label>
    <div>
        <label>@LrrState.InputData.HighestBidIndex</label>
    </div>
</div>

<div class="form-field">
    <label>Decision:</label>
    <div>
        <label>@LrrState.InputData.Decision</label>
    </div>
</div>
-->

@code {
    [Parameter] [EditorRequired] public Lrr.Shared.LrrState LrrState { get; set; } 
}
