@using Lrr.Models;
@using Lrr.Shared;

<br />

@if (@LrrState.EditConfig == false)
{
    <button class="btn btn-primary" @onclick="DisplayEdiConfig">Edit Config</button>
}

@if (@LrrState.EditConfig)
{
    <EditForm Model="@_model" >
        <table class="reportTable">
            <thead class="reportHead">
                <tr  >
                    <th class="td-report" colspan="3" >Edit configuration</th>
                </tr>
            </thead>

            <tbody class="reportTable" >
                <tr class="td-report">
                    <td class="td-report" >Stamp charge multiple:</td>
                    <td class="td-report" >
                        <InputNumber class="formatinput" style="width:10ch" id="StampChargePercentage" @bind-Value="@_model.StampChargePercentage" ParsingErrorMessage="Stamp charge multiple must be a number"   />
                        <ValidationMessage For="@(()=>_model.StampChargePercentage)"></ValidationMessage>
                        <label style="color: red;" >@(_model.GetErrorMessage("StampChargePercentage"))</label>
                    </td>
                    <td class="td-notes" >@($"between 0.0 to 1.0")</td>
                </tr>
                <tr class="tr-alice">
                    <td class="td-report" >Registration fee multiple:</td>
                    <td class="td-report" >
                        <InputNumber class="formatinput" style="width:10ch" id="RegistrationChargePercentage" @bind-Value="@_model.RegistrationChargePercentage"  ParsingErrorMessage="Registration fee multiple must be a number"   />
                        <ValidationMessage For="@(()=>_model.RegistrationChargePercentage)"></ValidationMessage>
                        <label style="color: red;" >@(_model.GetErrorMessage("RegistrationChargePercentage"))</label>
                    </td>
                    <td class="td-notes" >@($"between 0.0 to 1.0")</td>
                </tr>

                <tr class="td-report">
                    <td class="td-report" >Auction duration (in months):</td>
                    <td class="td-report" ><InputNumber class="formatinput" style="width:6ch" id="AuctionDuration" @bind-Value="@_model.AuctionDuration" ParsingErrorMessage="Auction duration must be a number"   />
                        <ValidationMessage For="@(()=>_model.AuctionDuration)"></ValidationMessage>
                        <label style="color: red;" >@(_model.GetErrorMessage("AuctionDuration"))</label>
                    </td>
                    <td class="td-notes" >@($"between 1 to 12")</td>
                </tr>
                <tr class="tr-alice">
                    <td class="td-report" >Auction starting value multiple:</td>
                    <td class="td-report" >
                        <InputNumber class="formatinput" style="width:10ch" id="StartingValueMultiple" @bind-Value="@_model.StartingValueMultiple"  ParsingErrorMessage="Auction starting value multiple must be a number"   />
                        <ValidationMessage For="@(()=>_model.StartingValueMultiple)"></ValidationMessage>
                        <label style="color: red;" >@(_model.GetErrorMessage("StartingValueMultiple"))</label>
                    </td>
                    <td class="td-notes" >@($"between 1.0 to 10.0")</td>
                </tr>
                <tr class="td-report">
                    <td class="td-report" >Auction step value multiple:</td>
                    <td class="td-report" ><InputNumber class="formatinput" style="width:10ch" id="StepValueMultiple" @bind-Value="@_model.StepValueMultiple"  ParsingErrorMessage="Auction step value multiple must be a number"   />
                        <ValidationMessage For="@(()=>_model.StepValueMultiple)"></ValidationMessage>
                        <label style="color: red;" >@(_model.GetErrorMessage("StepValueMultiple"))</label>
                    </td>
                    <td class="td-notes" >@($"between 0.01 to 1.0")</td>
                </tr>

                <tr class="tr-alice">
                    <td class="td-report" >Seller's incentive multiple in give-up scenario:</td>
                    <td class="td-report" ><InputNumber class="formatinput" style="width:10ch" id="GiveUpSellerIncentiveRatio" @bind-Value="@_model.GiveUpSellerIncentiveRatio"  ParsingErrorMessage="Seller's incentive multiple must be a number"   />
                        <ValidationMessage For="@(()=>_model.GiveUpSellerIncentiveRatio)"></ValidationMessage>
                        <label style="color: red;" >@(_model.GetErrorMessage("GiveUpSellerIncentiveRatio"))</label>
                    </td>
                    <td class="td-notes" >@($"between 0.0 to 1.0")</td>
                </tr>

                <tr class="td-report">
                    <td class="td-report" >Provisional buyer's incentive multiple in give-up scenario:</td>
                    <td class="td-report" ><InputNumber class="formatinput" style="width:10ch" id="GiveUpProvBuyerIncentiveRatio" @bind-Value="@_model.GiveUpProvBuyerIncentiveRatio" ParsingErrorMessage="Provisional buyer's incentive must be a number"   />
                        <ValidationMessage For="@(()=>_model.GiveUpProvBuyerIncentiveRatio)"></ValidationMessage>
                        <label style="color: red;" >@(_model.GetErrorMessage("GiveUpProvBuyerIncentiveRatio"))</label>
                    </td>
                    <td class="td-notes" >@($"between 0.0 to 1.0")</td>
                </tr>

                <tr class="tr-alice">
                    <td class="td-report" >Seller's incentive multiple in match scenario:</td>
                    <td class="td-report" ><InputNumber class="formatinput" style="width:10ch" id="MatchSellerIncentiveRatio" @bind-Value="@_model.MatchSellerIncentiveRatio" ParsingErrorMessage="Seller's incentive multiple must be a number"   />
                        <ValidationMessage For="@(()=>_model.MatchSellerIncentiveRatio)"></ValidationMessage>
                        <label style="color: red;" >@(_model.GetErrorMessage("MatchSellerIncentiveRatio"))</label>
                    </td>
                    <td class="td-notes" >@($"between 0.0 to 1.0")</td>
                </tr>

                <tr class="td-report">
                    <td class="td-report" >Bidder incentive multiple in match scenario:</td>
                    <td class="td-report" ><InputNumber class="formatinput" style="width:10ch" id="MatchBidderIncentiveRatio" @bind-Value="@_model.MatchBidderIncentiveRatio" ParsingErrorMessage="Bidder incentive multiple must be a number"   />
                        <ValidationMessage For="@(()=>_model.MatchBidderIncentiveRatio)"></ValidationMessage>
                        <label style="color: red;" >@(_model.GetErrorMessage("MatchBidderIncentiveRatio"))</label>
                    </td>
                    <td class="td-notes" >@($"between 0.0 to 1.0")</td>
                </tr>

                <tr class="tr-alice">
                    <td class="td-report" >Brokerage:</td>
                    <td class="td-report" ><InputNumber class="formatinput" style="width:10ch" id="Brokerage" @bind-Value="@_model.Brokerage" ParsingErrorMessage="Brokerage must be a number"   />
                        <ValidationMessage For="@(()=>_model.Brokerage)"></ValidationMessage>
                        <label style="color: red;" >@(_model.GetErrorMessage("Brokerage"))</label>
                    </td>
                    <td class="td-notes" >@($"between 0.0 to 1.0")</td>
                </tr>

            </tbody>
        </table>
        <ValidationSummary />
        <button class="btn btn-primary" disabled="@_model.hasErrorMesages"  @onclick="SaveConfig">Save Config</button>
        <button class="btn btn-primary" type="reset" @onclick="CancelEditConfig">Cancel</button>
    </EditForm>
}
@code {
    [Parameter, EditorRequired] public Lrr.Shared.LrrState LrrState { get; set; }
    [Parameter, EditorRequired] public Action RefreshScreen { get; set; }

    private SimpleConfigurationModelWithSteps _model = new();
    private Lrr.Shared.SimpleConfigurationWithStep _simpleConfig ;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        InitValues();
        RefreshScreen();
    }

    private void DisplayEdiConfig()
    {
        LrrState.EditConfig = true;
        RefreshScreen();
    }

    private void SaveConfig()
    {
        _model.Validate();
        if (_model.hasErrorMesages)
            return;
        CopyConfig();
        LrrState.EditConfig = false;
        ReCalculateValues();
    }

    private void CancelEditConfig()
    {
        InitValues();
        LrrState.EditConfig = false;
        ReCalculateValues();
    }

    private void ReCalculateValues()
    {
        this.StateHasChanged();
        LrrState.CalculateValues();
        if (RefreshScreen != null)
            RefreshScreen();
    }

    private void CopyConfig()
    {
        _simpleConfig.StampChargePercentage = _model.StampChargePercentage;
        _simpleConfig.RegistrationChargePercentage = _model.RegistrationChargePercentage;

        _simpleConfig.AuctionDuration = _model.AuctionDuration;
        _simpleConfig.StartingValueMultiple = _model.StartingValueMultiple;
        _simpleConfig.StepValueMultiple = _model.StepValueMultiple;

        _simpleConfig.GiveUpProvBuyerIncentiveRatio = _model.GiveUpProvBuyerIncentiveRatio;
        _simpleConfig.GiveUpSellerIncentiveRatio = _model.GiveUpSellerIncentiveRatio;
        _simpleConfig.Brokerage = _model.Brokerage;

        _simpleConfig.MatchSellerIncentiveRatio = _model.MatchSellerIncentiveRatio;
        _simpleConfig.MatchBidderIncentiveRatio = _model.MatchBidderIncentiveRatio;



    }

    private void InitValues()
    {
        _simpleConfig = LrrState.Configuration as Lrr.Shared.SimpleConfigurationWithStep;
        if (_simpleConfig == null)
        {
            _model.Invalidate();
            return;
        }

        _model.StampChargePercentage = _simpleConfig.StampChargePercentage;
        _model.RegistrationChargePercentage = _simpleConfig.RegistrationChargePercentage;
        
        _model.AuctionDuration = _simpleConfig.AuctionDuration;
        _model.StartingValueMultiple = _simpleConfig.StartingValueMultiple;
        _model.StepValueMultiple = _simpleConfig.StepValueMultiple;

        _model.GiveUpProvBuyerIncentiveRatio = _simpleConfig.GiveUpProvBuyerIncentiveRatio;
        _model.GiveUpSellerIncentiveRatio = _simpleConfig.GiveUpSellerIncentiveRatio;
        _model.Brokerage = _simpleConfig.Brokerage;

        _model.MatchSellerIncentiveRatio = _simpleConfig.MatchSellerIncentiveRatio;
        _model.MatchBidderIncentiveRatio = _simpleConfig.MatchBidderIncentiveRatio;



    }

}
